<!Doctype html>
<html>
  <head>
    <title>Merriam-Dictionary API</title>
  </head>

  <body>
    <h3>Testing Merriam-Dictionary English to Spanish</h3>
    <p>word: {{e_word}}</p>
    <p>language: {{e_language}}</p>
    <p>part of speech: {{e_pos}}</p>
    <p>translation: {{e_translation}}</p>

    <br>

    <h3>Testing Merriam-Dictionary Spanish to English</h3>
    <p>word: {{s_word}}</p>
    <p>language: {{s_language}}</p>
    <p>part of speech: {{s_pos}}</p>
    <p>translation: {{s_translation}}</p>

    <br>

    <a href="/">Go back home.</a>
  </body>

</html>
